name: dockerize-on-mtrain

on:
  push:
    paths:
      - mnist_train/**
      - .github/workflows/dockerize.yml 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Docker Login
        uses: docker/login-action@v1.14.1
        with:
          username: anfqlc0311
          passwrod: ${{ secrets.DOCKER_PASSWORD}} 
        
      - name: Checkout
        uses: actions/checkout@v3.0.0
      
      - name: Docker build
        run: docker build -t anfqlc0311/docker-mnist ./mnist_train 
        
      - name: Dokcer push
        run: docker push anfqlc0311/docker-mnist
        
    
